/* Fonts */



@font-face {
    font-family: 'josefin_sansbold';
    src: url('fontkit/josefinsans-bold-webfont.woff2') format('woff2'),
         url('fontkit/josefinsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansbold_italic';
    src: url('fontkit/josefinsans-bolditalic-webfont.woff2') format('woff2'),
         url('fontkit/josefinsans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansitalic';
    src: url('fontkit/josefinsans-italic-webfont.woff2') format('woff2'),
         url('fontkit/josefinsans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sanslight';
    src: url('fontkit/josefinsans-light-webfont.woff2') format('woff2'),
         url('fontkit/josefinsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sanslight_italic';
    src: url('fontkit/josefinsans-lightitalic-webfont.woff2') format('woff2'),
         url('fontkit/josefinsans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansregular';
    src: url('fontkit/josefinsans-regular-webfont.woff2') format('woff2'),
         url('fontkit/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sanssemibold';
    src: url('fontkit/josefinsans-semibold-webfont.woff2') format('woff2'),
         url('fontkit/josefinsans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sanssemibold_italic';
    src: url('fontkit/josefinsans-semibolditalic-webfont.woff2') format('woff2'),
         url('fontkit/josefinsans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansthin';
    src: url('fontkit/josefinsans-thin-webfont.woff2') format('woff2'),
         url('fontkit/josefinsans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansthin_italic';
    src: url('fontkit/josefinsans-thinitalic-webfont.woff2') format('woff2'),
         url('fontkit/josefinsans-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




/* Body and Background */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.star {
    position: fixed;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: twinkling 1.5s infinite;
    opacity: 0;
}
@keyframes twinkling {
    0%, 100% {
        opacity: .25;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}

.content {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* Navigation Bar */
.sun {
    position: fixed;
    left: 5%;
    top: 6.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fddf47;
    border-radius: 50%;
}

.ring1 {
    pointer-events: none;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.ring2 {
    pointer-events: none;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.ring3 {
    pointer-events: none;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.button_container {
    position: fixed;
    left: 50%;
    height: 10vh;
    top: 6.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.buttons {
    position: fixed;
    top: 33%;
    width: 100%;
    height: 40%;
}

.portfolio_button {
    position: fixed;
    transform: translateX(-0%);
    z-index: 1;
    background: rgb(213,73,199);
    background: radial-gradient(circle, rgba(213,73,199,1) 0%, rgba(60,1,55,1) 79%); 
    border-radius: 50%;

    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.resume_button {
    position: fixed;
    transform: translateX(-50%);
    z-index: 1;
    background: rgb(102,209,94);
    background: radial-gradient(circle, rgba(102,209,94,1) 0%, rgba(4,40,1,1) 79%); 
    border-radius: 50%;

    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about_button {
    position: fixed;
    transform: translateX(-0%);
    z-index: 1;
    background: rgb(70,190,237);
    background: radial-gradient(circle, rgba(70,190,237,1) 0%, rgba(1,35,48,1) 79%);
    border-radius: 50%;

    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.planet:hover {
    border: 3px solid white;
    color:white;
}

.window_logo {
    font-size: min(5vw,5vh);
}

.portfolio_button:hover .portfolio_button_text {
    display: block;
}

.resume_button:hover .resume_button_text {
    display: block;
}

.about_button:hover .about_button_text {
    display: block;
}

.button_text {
    margin: auto;
    position: fixed;
    bottom: -50%;
    display: none;
    font-family: 'josefin_sansregular';
    font-size: min(3vw,2.5vh);
    color:white;
}

/* Home Screen */
.home_content {
    position: fixed;
    width: 70%;
    height: 80%;
    top: 15%;
    left: 15%;
    z-index: 1;
}

.title {
    font-family: 'josefin_sansregular';
    font-size: min(3vw,3vh);
    text-align: center;
    margin: 0;
    color:white;
}

.img_container {
    position:relative;
    top: -2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait {
    width: min(30vh, 30vw);
    height:auto; 
    max-width: 100%; 
    max-height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    padding: 3px;
}

.portrait img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 50%;
    border: 3px solid white;
}

.body_text {
    font-size: min(2vw,2vh);
    font-family: 'josefin_sansregular';
    text-align: justify;
    color: white;
}



/* Socials */
.socials {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    color: white;
    font-size: min(5vh,5vw);
}

.email:hover {
    color: #fddf47;
}

.itch:hover {
    color: rgb(213,73,199);
}

.github:hover {
    color: rgb(102,209,94);
}

.linkedin:hover {
    color: rgb(70,190,237);
}

.steam:hover {
    color: rgb(52, 47, 216);
}



/* Resume Window */
.pop_up {
    visibility: hidden;
    position: fixed;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    background-color: black;
    border-radius: 5%;
    z-index: 5;
    color: white;
    font-family: 'josefin_sansregular';
}

.window_portfolio {
    border: 3px solid rgb(213,73,199);
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio_scrollable{
    padding: 10px;
    overflow: auto;
    width: 90%;
    height: 90%;
    font-size: min(2.5vw,2.5vh)
}

.portfolio_scrollable img {
    max-width: 40%;
    height: auto;
    border-radius: 5%;
    border: 3px solid rgb(213,73,199);
    margin-bottom: 10px;
}

.project_title, .group_size, .roles {
    text-align: center;
}

.project_title {
    text-decoration: underline;
}

.port_images {
    display: flex;
    justify-content: space-evenly;
}

.port_links {
    display: flex;
    justify-content: space-evenly;
}

.description {
    text-align: justify;
}

.window_resume {
    border: 3px solid rgb(102,209,94);
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume_pdf {
    width: 80%;
    height: 90%;
}

.window_about {
    border: 3px solid rgb(70,190,237);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollable_content {
    padding: 10px;
    overflow: auto;
    width: 90%;
    height: 90%;
}

.scrollable_content img {
    max-width: 40%;
    height: auto;
    border-radius: 5%;
    border: 3px solid white;
}

.about_text {
    text-align: justify;
    padding: 20px;
}

.about_1, .about_2,
.about_3, .about_4{
    font-size: min(2.5vw,2.5vh);
    display: flex;
    align-items: center;
}

.text_1 {
    flex: 1;
}

.x {
    position: fixed;
    font-size: min(5vh,5vw);
    right: 5%;
    top: 3%;
}

.window_portfolio .x:hover,
.window_resume .x:hover,
.window_about .x:hover {
    color: white;
}

.window_portfolio .x{
    color:rgb(213,73,199);
}

.window_resume .x{
    color:rgb(102,209,94);
}

.window_about .x{
    color:rgb(70,190,237);
}

